<% provide :title, t("common.about_title") %>
<h1>About</h1>
<p>
  <%= t ".the" %> <a href="http://www.railstutorial.org/"><em><%= t "common.ruby_on_rails_tut" %></em></a> <%= t ".is_a" %>
  <a href="http://www.railstutorial.org/book"><%= t ".book" %></a> <%= t ".and" %>
  <a href="http://screencasts.railstutorial.org/"><%= t ".cast" %> </a>
  <%= t ".teach" %>
  <a href="http://rubyonrails.org/"><%= t "common.ruby_on_rails" %></a>.
  <%= t ".sample" %>.
</p>
