<% provide :title, t("common.about_title") %>
<h1><%= t "common.about_title" %></h1>
<p>
  <%= t ".the" %> <%= link_to "http://www.railstutorial.org/" do %>
    <em><%= t "common.ruby_on_rails_tut" %></em>
  <% end %> <%= t ".is_a" %>
  <%= link_to t(".book"), "http://www.railstutorial.org/book" %> <%= t ".and" %>
  <%= link_to t(".cast"), "http://screencasts.railstutorial.org/" %>
  <%= t ".teach" %>
  <%= link_to t("common.ruby_on_rails"), "http://rubyonrails.org/" %>.
  <%= t ".sample" %>.
</p>
