<% provide :title, t("common.help_title") %>
<h1><%= t "common.help_title" %></h1>
<p>
  <%= t ".get_help_at" %>
  <%= link_to t(".help_section"), "http://www.railstutorial.org/help" %>.
  <%= t ".get_help_on" %>
  <%= link_to "http://www.railstutorial.org/book" do %>
    <em><%= t "common.ruby_on_rails_tut" %></em> <%= t ".book" %>
  <% end %>.
</p>
