<% provide :title, t("common.help_title") %>
<h1><%= t("common.help_title") %></h1>
<p>
  <%= t ".get_help_at" %>
  <a href="http://www.railstutorial.org/help"><%= t ".help_section" %></a>.
  <%= t ".get_help_on" %>
  <a href="http://www.railstutorial.org/book"><em><%= t "common.ruby_on_rails_tut" %></em>
    <%= t ".book" %></a>.
  </p>
