<div class="center jumbotron">
  <h1><%= t ".welcome" %></h1>

  <h2>
    <%= t ".home_page_for" %>
    <a href="http://www.railstutorial.org/"><%= t "common.ruby_on_rails_tut" %></a>
    <%= t ".sample_app" %>.
  </h2>

  <%= link_to t(".sign_up"), signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: t(".rails_logo")),
"http://rubyonrails.org/" %>
