<footer class="footer">
  <small>
    <%= t ".the" %> <%= link_to t(".ruby_on_rails"), "http://www.railstutorial.org/" %>
    <%= t ".by" %> <%= link_to t(".author"), "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("common.about_title"), about_path %></li>
      <li><%= link_to t("common.contact_title"), contact_path %></li>
      <li><%= link_to t(".news"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
