<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/"><%= t ".ruby_on_rails" %> </a>
    <%= t ".by" %> <a href="http://www.michaelhartl.com/"><%= t ".author" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("common.about_title"), about_path %></li>
      <li><%= link_to t("common.contact_title"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t ".news" %></a></li>
    </ul>
  </nav>
</footer>
